body{
    margin:0;
    background:#eaeaea;
}

.container{
    padding:10px;
    font-size:0; /* removes inline-block gap */
}

.box{
    height:70px;
    display:inline-block;
    font-size:20px;
    color:black;
    vertical-align:top;
    padding:5px;
    box-sizing:border-box;
    margin:5px;
}

/* First row */
.box1{
    width:49%;
    background:red;
}

.box2{
    width:25%;
    background:blue;
}

.box3{
    width:24%;
    background:green;
    height:150px;
}

/* Second row */
.box4{
    width:24%;
    background:yellow;
}

.box5{
    width:50%;
    background:orange;
}